/* font-family: "Raleway", sans-serif; 
font-family: "Roboto", sans-serif; */

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address{
    font-style: normal;
}

.visually-hidden {
    margin: -1px;
    border: 0;    
    white-space: nowrap;
    overflow: hidden;
}

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    
}

/* --header-- */

.header{
    border-bottom: 1px solid #e7e9fc;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    /* padding-top: 24px; */     /* открыть 1 */
    /*padding-bottom: 24px; */   /* открыть 1 */
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-container{
    display: flex;
    /* align-items: center;     открыть 1 */
}

.header-navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    color: #4d5ae5   
}

.header-logo-color{
    color: #2e2f42;
}

.menu-list{
    display: none;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
} 

.header-menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: inline-block; /* спрятать 1 */
    padding-top: 24px; /* спрятать 1 */
    padding-bottom: 24px;/* спрятать 1 */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current{
    position: relative;
}

.header-menu-link.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link.current{
    color: #404bbf
}

.contacts{
    margin-left: auto;
    font-style: normal;
}

.header-soc-list{
    display: none;
    /* gap: 40px; */
    
}

.header-soc-link{
    /* font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; */
    display: inline-block; /* спрятать 1 */
    padding-top: 24px;      /*спрятать 1*/
    padding-bottom: 24px;  /* спрятать 1*/

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-soc-link:hover,
.header-soc-link:focus {
    color: #404bbf
}

.menu-open-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
}
.menu-exit-btn {
    margin-bottom: 24px;
    margin-left: auto;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    stroke-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 100%;
}

.menu-exit-btn:hover,
.menu-exit-btn:focus {
    background-color: #404bbf;
    border: none;
}

.menu-exit-btn:hover .icon-menu-btn,
.menu-exit-btn:focus .icon-menu-btn{
    fill: #ffffff;
}
.icon-menu-btn {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-list {
    
}
.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mob-menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus{
    color: #404bbf
}

.mob-contacts {
margin-bottom: 48px;
}
.mob-soc-list {
}
.mob-soc-item {

}
.mob-soc-item:not(:last-child) {
    margin-bottom: 24px;
}
.mob-soc-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-link:hover,
.mob-soc-link:focus {
    color: #404bbf
}
.mob-container-icons {
}
.mob-icons {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
}
.mob-icons-item {
    width: 40px;
    height: 40px;
}
.mob-icons-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icons-link:hover,
.mob-icons-link:focus {
    background-color: #404bbf;
}

.mob-icons-icons {
    fill: #f4f4fd;
}

/* --hero-- */

.hero {
    background: #2e2f42;
    /* padding-top: 188px;
    padding-bottom: 188px; */
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-width: 1440px;
    max-height: 600px; */
    max-width: 320px;
    max-height: 432px;
    margin: 0 auto;
}

@media screen and(-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution:192dpi) {
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob2x.jpg); 
    }
}

.hero-container{}

.hero-title {
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    /* font-size: 56px;
    line-height: 1.07; */
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    /* margin-bottom: 48px; */
    margin-bottom: 72px;
    /* max-width: 496px; */
    max-width: 216px;
}

.hero-primary-btn {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    display: block;
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-primary-btn:hover, .hero-primary-btn:focus  {
background-color: #404bbf
}



/* --features-- */

.features {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
}

.features-item {
    /* width: calc((100% - 3 * 24px) / 4); */
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.features-icons-frame{
    display: none;  /*використав замість display: flex; */
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
    /* display: flex; */ 
    align-items: center;
    justify-content: center;
    
    height: 112px;
}

.features-icons{
   
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.features-item-tex {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

/* --team-- */

.team {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
    background-color: #f4f4fd;
    margin: 0 12px;
}

.team-item {
    /* width: calc((100% - 3 * 24px) / 4); */
    width: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-image {
    
}

.team-name{
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-tex {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-icons{
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;

}

.team-icons-item{
    width: 40px;
    height: 40px;
    
}

.team-icons-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.team-icons-link:hover,
.team-icons-link:focus{
    background-color: #404bbf;
}

.team-icons-icons{
    fill: #f4f4fd;
}

/* --Portfolio-- */

.portfolio {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #fff;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 48px 24px; */
    gap: 48px;
}

.portfolio-item {
    /* width: calc((100% - 2 * 24px) / 3); */
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .position-text {
    transform: translateY(0);
}

.position{
    overflow: hidden;
    position: relative;
}

.position-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 32px;
}

.portfolio-image{
    
}

.category{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-subtitle{
    text-align: left;
}
/* .portfolio-subtitle { 
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}*/

/*.portfolio-tex {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}*/

/* --footer-- */

.footer {
    /* padding-top: 100px;
    padding-bottom: 100px; */
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    /* display: flex; */
    align-items: baseline;
}

.logo-container{
    /* margin-right: 120px; */
    text-align: center;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    color: #4d5ae5;
}

.footer-logo-color{
    color: #f4f4fd;
}

.footer-tex {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    color: #f4f4fd;
    margin-bottom: 72px;
    text-align: left;
}

.footer-container-icons {
    /* margin-right: 80px; */
    text-align: center;
}

.footer-tex-icons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-icons {
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
justify-content: center;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 72px;
}

.footer-icons-item {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.footer-icons-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover, 
.footer-icons-link:focus{
    background-color: #31d0aa;
}

.footer-icons-icons {
    fill: #f4f4fd;
}

.footer-subscribe{}

.footer-tex-subscribe {
    font-family: "Roboto", sans-serif;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.footer-form {
    display: flex;
flex-wrap: wrap;

    /* gap: 24px; */

}

.subscribe-email {
    margin-bottom: 16px;
    
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    /* width: 264px; */
    width: 288px;
    height: 40px; 
    background-color: transparent;
    padding-left: 16px;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    opacity: 0.6;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* display: block; */
    margin: 0 auto;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #404bbf;
}

.icon-btn {
    fill: #fff;
    margin-left: 16px;
}

/* --modal-- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* display: flex; 
    align-items: center;
    justify-content: center;          !!! для центровки modal!!! */
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    
    border-radius: 4px;
    /* width: 408px;
    min-height: 584px; */

        width: 288px;
        min-height: 623px;

    transform: translate(-50%, -50%);

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
    /* padding: 72px 24px 24px 24px; */

    padding: 72px 16px 24px 16px;
}

.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-exit-btn{
    margin-bottom: 24px;
    display: block;
    margin-left: auto;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    stroke-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
}

.modal-exit-btn:hover,
.modal-exit-btn:focus{
background-color: #404bbf;
border: none;
}

.modal-exit-btn:hover .icon-modal-exit,
.modal-exit-btn:focus .icon-modal-exit{
    fill: #ffffff;
}

.icon-modal-exit{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-tex {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {}

.input {
    margin-bottom: 8px;
}

.form-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-svg {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon{
    fill: #4d5ae5;
}

.input-comment {
    margin-bottom: 16px;
}

.input-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 4px;
}

.input-text::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.input-text:hover,
.input-text:focus {
    border-color: #4d5ae5;
}

.checkbox {
    margin-bottom: 24px;
}

.visually-hidden {}

.input-checkbox {}

.input-checkbox:checked + label > span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.checkbox-icon {}

.modal-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.button-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: 92px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.button-send:hover,
.button-send:focus {
    background-color: #404bbf;
}



@media screen and (min-width: 768px) {
    
    .container{
        width: 768px;
    }

    .header{
    padding-top: 0px;
    padding-bottom: 0px;
    }
    .header-logo{
        margin-right: 120px;
    }

    .contacts{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .header-soc-list {
        flex-direction: column; 
        gap: 12px;
        display: flex;
            justify-content: center;
            align-items: center;
    }

    .header-soc-item{
        
    }

        .header-soc-link{
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
        padding-top: 0px;
        padding-bottom: 0px;

        }
        
    .menu-open-btn{
        display: none;
    }

    .menu-list{
        display: flex;
    }

    .header-soc-list{
        display: flex;
    }

    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;
        max-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bgpl.jpg);
    }

    @media screen and(-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution:192dpi) {
        .hero{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-2x.jpg); 
        }
    }
    
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }

    .features-list{
        gap: 72px 24px;
    } 

    .features-item{
        width: calc((100% - 24px) / 2);
    }
    .features-subtitle{
        text-align:left ;
    }

    .team-list{
        gap: 64px 24px;
        margin: 0;
        padding-left: 92px;
        padding-right: 92px;
    }

    .team-item{
        width: calc((100% - 24px) / 2);
    }

    .portfolio-list{
        gap: 72px 24px;
    }

    .portfolio-item{
        width: calc((100% - 24px) / 2);
    }
    
    .footer{
        padding-top: 96px;
        padding-bottom: 96px;
        padding-left: 92px;
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;     
    }
    .logo-container {
        text-align: left;
    }
    .footer-tex {
        margin-bottom: 0;
    }
    .footer-container-icons {
        text-align: left;
    }
    .footer-icons{
        margin-bottom: 0;
    }
    .footer-tex-subscribe{
        text-align: left;
    }
    .footer-input{
        width: 264px;
    }
    .subscribe-email {
        margin-right: 24px;
        margin-bottom: 0px;
    }
    .footer-btn {
        display: flex;
    }

    .modal{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

}


@media screen and (min-width: 1158px){
   
    .container{
    width: 1158px;
    padding: 0 15px;
    }

    .header {
       
    }

    .header-logo {
        margin-right: 76px;
    }

    .header-soc-list {
        flex-direction: row;
        gap: 40px;
    }

    .header-soc-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .hero{
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        max-height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1copy.jpg);
    }

    @media screen and(-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution:192dpi) {
        .hero{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1-2x.jpg); 
        }
    }

    .hero-title{
        margin-bottom: 48px;
    }

    .features {
    padding-top: 120px; 
    padding-bottom: 120px; 
    }

    .features-list {
    gap: 24px;
    
    }

    .features-item {
    width: calc((100% - 3 * 24px) / 4);
    }
    
    .features-icons-frame {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    height: 112px;
    }

    .team{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .team-list{
        gap: 24px;
        padding-left: 0;
        padding-right: 0;
    }

    .team-item{
        width: calc((100% - 3 * 24px) / 4);
    }

    .portfolio{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list{
        gap: 48px 24px;
    }

    .portfolio-item{
        width: calc((100% - 2 * 24px) / 3);
    }
    .footer {
        padding-top: 100px; 
        padding-bottom: 100px;
        padding-left: 0px;
    }
    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
    }
    .logo-container {
        margin-right: 120px;
                   
    }
    .footer-container-icons {
        margin-right: 80px;       
    }
}